.landing-wrapper{
	background-image: url("../../assets/imageninicio.gif");
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: fixed;
	overflow: hidden;
}

.logoPokemon{
    width: 345px;
	margin-left: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 345px;
    align-items: center;
}

.styleBotton{
    width: 147px;
    margin-top: 60px;
    background: rgba(0,0,0,.3);
	border: solid 1px #FFF;
	color: #FFF;
	font-size: .9rem;
	line-height: 1;
	font-weight: 700;
	letter-spacing: .3px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 10px;
	user-select: none;
	cursor: pointer;
	transition: .13s ease-in-out; 
}

.styleBotton:hover{
    background-color: yellow;
	border-color: blue;
	color: #000; 
}