.card-container{
    width: 250px;
    height: 276px;
    background-color: #ffd900;
    box-shadow: 1px 0px 20px 1px rgba(255,255,255,1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}


